header {
  height: 100vh;
  padding-top: 7rem;
  overflow: hidden;
}

.header__container {
  display: grid;
  grid-template-columns: 35% 50%;
  gap: 15%;
}

.about__me {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 2rem;
  background: linear-gradient(
    45deg, 
    transparent, 
    var(--color-primary),
    transparent
  );
  display: grid;
  place-items: center;
}

.ryan {
  border-radius: 2rem 2rem;
  overflow: hidden;

}

/* original css for header container
/* .header__container {
  text-align: center;
  height: 100%;
  position: relative;
} */

/* CTA buttons */

.cta {
  margin-top: 2.5rem;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}

/* Header Socials */
.header__socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  position: absolute;
  right: 0;
  bottom: 3rem;
}

.header__socials::after {
  content: '';
  width: 1px;
  height: 2rem;
  background: var(--color-primary);
}

/* .ryan {
   width: 100%;
   aspect-ratio: 1/1;
   border-radius: 2rem;
   background: linear-gradient(
    45deg,
    transparent, 
    var(--color-primary),
    transparent
   );
   display: grid;
   place-items: center;
} */

/* original css for headercontainer picture
.ryan {
  background: linear-gradient(#000000 30%, #111111);
  width: 22rem;
  height: 25rem;
  position: absolute;
  left: calc(50% - 11rem);
  margin-top: 4rem;
  border-radius: 12rem 12rem 0 0;
  overflow: hidden;
  padding: 5rem 1.5rem 1.5rem 1.5rem;
} */

.scroll__down {
  position: absolute;
  left: -2.3rem;
  bottom: 5rem;
  transform: rotate(90deg);
  font-weight: 300;
  font-size: 0.9rem;
}

/* Tablet Media Queries */
@media screen and (max-width: 1024px) {
  header{
    height: 68vh;
  }
}

/* Small Queries */
@media screen and (max-width: 600px) {
  header {
    height: 100vh;
  }

  .header__socials,
  .scroll__down {
    display:none;
  }
}