footer {
  background: var(--color-bg-variant);
  padding: 3rem 0;
  text-align: center;
  font-size: 1em;  
  margin-top: 7rem;
}

footer a {
  color: var(--color-bg);
}

.footer__socials {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 4rem;
}

.permalinks {
  display: flex;
  flex-wrap: none;
  justify-content: center;
  gap: 2rem;
  margin: 0 auto 3rem;
}

.footer__links {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 4rem;
}

.footer__copyright {
  margin-bottom: 4rem;
  color: var(--color-bg);
}

/* media queries  */
@media screen and (max-width: 600px) {
  .permalinks {
    flex-direction: column;
    gap: 1.5 rem;
  }
}