.experience__container {
  display: grid;
  max-width: 45%;
  gap: 2rem;
  /* align-items: center;  */
}

.experience__container > div {
  background: var(--color-bg-variant);
  padding: 2.4rem;
  border-radius: 15px 50px 30px 5px;
  border: 1px solid transparent;
}

.experience__content {
  display: grid;
  grid-template-columns: 2fr 2fr .5fr;
  row-gap: 3rem;
  transition: var(--transition);
}

.experience__content:hover {
  border-color: var(--color-primary-variant);
  background: transparent;
}

.experience__details {
  margin:1px;
}

@media screen and (max-width: 1024px) {
  .experience__container {
    grid-template-columns: 1fr;
  }
  
  .experience__container > div {
    width: 80%;
    padding: 2rem;
    margin: 0 auto;
  }

  .experience__content {
    padding: 1rem;
  }
 
}

/* Small Queries */
@media screen and (max-width: 600px) {
  .experience__container{
    gap: 1rem;
  }

  .experience__container > div {
    width: 100%;
    padding: 2rem 1rem;
  }
}