* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  --color-bg: #000000;
  --color-bg-variant: #333333;
  --color-primary: #BBBBBB;
  --color-primary-variant: #CCCCCC; 
  --color-white: #EEEEEE;
  --color-light: #DDDDDD;

  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90%;
}

html {
  scroll-behavior: smooth;
}

body {
  
}